{% extends 'base.html.twig' %}

{% block title %}Stagiaires
{% endblock %}
{% block header %}Stagiaires
{% endblock %}

{% block body %}

	<div class="d-flex mt-4 justify-content-center mb-3">
		<a class="link text-decoration-none" href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>
	</div>

	<div class="col-12 text-center">

		<div class="d-flex mx-auto justify-content-center">
			<form method="GET" action="{{ path('search') }}">
				<input id="search-book-first" type="text" placeholder="Rechercher" name="search" aria-label="search" class="form-control">
				<button type="submit" class="bg-black3"><i class="fs-2 text-light fa-solid fa-magnifying-glass"></i></button>
			</form>
		</div>

	</div>

	{% for user in users %}

		<div id="global-view" class="w-30 pt-3 mt-4 mx-auto">

			<p class="text-light fs-5 text-center">Prénom : {{ user.firstname }}</p>
			<p class="text-light fs-5 text-center">Nom : {{ user.lastname }}</p>
			<p class="text-light fs-5 text-center">Statut : {% if user.status is empty %}Non défini{% else %}{{ user.status }}{% endif %} </p>

			<div class="d-flex mt-4 mx-auto flex-column w-50 text-center flex-sm-row justify-content-center mb-5">

				<a class="me-sm-3 mx-auto mx-sm-0 link text-decoration-none bg-black6 mb-3 p-2" href="{{ path('edit_user', {'id': user.id }) }}">Modifier</a>

				<a class="me-sm-3 mx-auto mx-sm-0 link text-decoration-none bg-black6 mb-3 p-2" href="{{ path('remove_user', {'id': user.id }) }}">Retirer</a>

			</div>

		</div>

	{% endfor %}

{% endblock %}